extends ./layout.pug
block vars
    - var title = 'Главная';
    - var image = "/assets/image/";
    - var upload = "/assets/upload/";

block content
    section.gallery-page
        .container.d-flex
            .title Список через data-full
            .gallery__wrapper
                - for (let i = 1; i <= 6; i++)
                    .gallery__item
                        img.thumbnail(
                            src=`https://sukhovdev.ru/api/image/random/?w=800&h=600&random=${i}`, 
                            data-group='group3',
                            data-full=`https://sukhovdev.ru/api/image/random/?w=800&h=600&random=${i}`
                        )

    section.gallery-page
        .container.d-flex
            .title Список через href, с использованием видео (последний элемент)
            .gallery__wrapper
                - for (let i = 1; i <= 5; i++)
                    a.gallery__item.thumbnail(
                        href=`https://sukhovdev.ru/api/image/random/?w=1280&h=720&random=${i}`,
                        data-group='group4'
                    )
                        img(
                            src=`https://sukhovdev.ru/api/image/random/?w=1280&h=720&random=${i}`, 
                        )
                a.gallery__item.thumbnail(
                    href=`https://www.youtube.com/watch?time_continue=1&v=AturBjbN6yY`,
                    data-group='group4'
                )
                    img(
                        src=`https://sukhovdev.ru/api/image/random/?w=1280&h=720&random=6`, 
                    )
                a.gallery__item.thumbnail(
                    href=`https://www.youtube.com/watch?v=dQw4w9WgXcQ`,
                    data-group='group4'
                )
                    img(
                        src=`https://sukhovdev.ru/api/image/random/?w=1280&h=720&random=6`,
                    )
                        
    section.gallery-page
        .container.d-flex
            .title Список без data-full и href
            .gallery__wrapper
                - for (let i = 1; i <= 6; i++)
                    .gallery__item.thumbnail(
                        data-group='group5'
                    )
                        img(
                            src=`https://sukhovdev.ru/api/image/random/?w=1024&h=768&random=${i}`, 
                        )

    section.video
        .container
            .title Ссылка на 
                a.thumbnail(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-group="video") Видео